---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
// Component Imports
import { Button } from "@/components/ui/button"
import { NavigationMenu } from '@/components/ui/navigation-menu'
---
<BaseLayout content={{ title: 'Astro + TailwindCSS' }}>

		<div class="grid place-items-center h-screen content-center">
			<Button>Tailwind Button in Astro!</Button>
			<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
		</div>
		<slot />
</BaseLayout>