---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroWrapper from '@/components/HeroWrapper.astro';
// Component Imports
import { Button } from "@/components/ui/button"
---
<BaseLayout content={{ title: 'Tarik Davis' }}>
<HeroWrapper client:load/>
		<div class="grid place-items-center h-screen content-center">
			<Button>Tailwind Button in Astro!</Button>
			<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
		</div>
		<slot />
</BaseLayout>