---
import '../styles/global.css';
import { Navbar1 } from '../components/navbar1.tsx';
const { content } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
	</head>
	<body>
<header>
        <Navbar1 client:load/>
</header>           
		<slot />
	</body>
</html>
