---
import '../styles/global.css';
import { Navbar17 } from '@/components/navbar17';
const { content } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
	</head>
	<body>
		<header>
			 <Navbar17 client:load/>
		</header>	
	<main>
		<slot />
		</main>
	</body>
</html>
